body, html {
    height: 100%;
    box-sizing: border-box
}

body {
    margin: 0;
    color: #7c8891;
    font: 16px/22px -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", sans-serif;
    background: #2e3236;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden */
}

.card {
    position: relative;
    max-width: 700px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateY(-40px)
}

.card>div {
    box-sizing: border-box;
}

@media(max-width:768px) {
    body {
        padding: 30px
    }
    main {
        width: 100%
    }
}

@media(max-width:420px) {
    body {
        padding: 10px
    }
    main .card-right {
        padding: 40px 28px
    }
}

.card-left {
    position: absolute;
    width: 31.2%;
    padding: 40px 26px;
    color: #fff;
    text-align: center;
    background: linear-gradient(45deg, #1b7172 0%, #002266 100%);
    /* background-size: cover; */
    text-shadow: 0 2px 2px rgba(0, 0, 0, .6)
}
.card-right {
    margin-left: 31.2%;
    padding: 50px;
    background: #fff;
}

@media(max-width:670px) {
    .card-left {
        position: relative;
        width: 100%
    }
    .card-right {
        margin: 0
    }
}
@media(min-width:670px) {
    .card-left {
        height: 100%
    }
}

.author {
    position: relative;
    z-index: 1
}

.card-left h1 {
    font-size: 24px;
    margin-bottom: 8px
}

.card-left .avatar {
    width: 96px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5)
}

.card-left .subhead {
    margin: 0;
    font-size: 14px
}

.card-right p {
    margin: 0;
    line-height: 28px
}


.card-right a {
    text-decoration: none
}

.icon {
    position: relative
}

.icon:focus::after, .icon:hover::after {
    opacity: 1;
    transform: translate(-50%, -.2rem)
}

.icon::after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    bottom: auto;
    z-index: 1;
    max-width: 100px;
    padding: 3px 6px;
    color: #fafafa;
    font-size: 14px;
    background: rgba(48, 55, 66, .6);
    border-radius: 4px;
    margin-top: 4px;
    opacity: 0;
    pointer-events: none;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: translate(-50%, .4rem);
    transition: opacity .2s, transform .2s;
}

.social {
    padding-top: 32px;
    text-align: center
}

.social i {
    margin: 0 10px
}

.social a {
    color: #7c8891
}


footer {
    margin-top: 20px;
    text-align: center;
    color: #c5cbce;
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateY(40px)
}

.fadeIn {
    opacity: 1;
    transform: translateY(0)
}